@import '../../../styles/vars';

:host {
    width: auto;
    min-width: 100px;
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-size: 14px;
    list-style: 1;
    background-color: #efefef;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease-in-out;
    border-radius: 5px;

    > app-event-item {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: $alt-color;
    }
}
