<add-event-overlay [(opened)]="overlayOpened"></add-event-overlay>

<div class="container">
    
    <div class="header">
        <h1>Event Reminder <span class="alt-color">/</span> App</h1>

        <div class="buttons-container">
            <button mat-button class="icon" (click)="overlayOpened = true">
                <mat-icon>add</mat-icon>
            </button>

            <button mat-button class="icon" *ngIf="nofiticationButtonVisible" (click)="enableNotification()">
                <mat-icon>notifications</mat-icon>
            </button>
        </div>
    </div>

    <div class="separator"></div>

    <event-list [events]="sortedEvents"></event-list>

    <p class="footer-notice">Copyright &copy; Mathieu Germain 2022</p>

</div>