:host {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    padding: 20px 0;

    > event-item {
        margin-bottom: 10px;
    }
}